body{
    background-image: url("../img/capa1.png");
    background-size: contain;
    background-repeat: repeat-y;
    font-family: "Bree Serif", serif;  
    margin: 0;
}
.imagens{
    background-image: url("../img/capaprincipal.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;  
    background-position: center;
    background-attachment: fixed;  
    margin-top: 60px;
}

.imagens h1{
    text-shadow: 2px 3px 5px #205b6d;
    
    padding-left: 390px;
    padding-top: 270px;  
    font-family: Bree Serif, serif; 
    color: white ;
    font-weight: bold;
    font-size: 50px;

}
section.ondas-box{
    position: relative;
    width: 100%;
    height: 100vh;
}
.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url("../img/ondasamarelas.png");
    background-size: 1000px 100px;

    animation: ondaAnimada 5s ease-in-out infinite alternate ;
}
@keyframes ondaAnimada {
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(10px);
    }
    
}

#onda1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}
#onda2{
    z-index: 999; /* Produndidade de cada onda*/
    opacity: 0.5; /* Opacidade de cada onda*/
    background-position-x: 300px; /* Posição ao eixo x*/
}
#onda3{
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#onda4{
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}

.conteudo{
    display: flex;
    justify-content: center;

   
    
}

.proposta{
    margin-left: 20%;
    width: 40%;
}


.proposta-titulo{
    
    width: 60%;
    height: 80px;
    background-color: #379bb9;
    text-align: center;
    padding: 8px;
    border-radius: 12px;
    margin-left: 40%;
    color: white;
    border: 4px solid white;
}

.proposta-titulo h4{
    font-size: 4vh;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 12px;
    font-weight: bold;
    
}

.proposta-texto{
    margin-top: 20%;
    width: 150%;
    background-color: #379bb9;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    padding-top: 30px;
    font-size: 3vh;
    border-style: solid;
    border-color: white;
    border: 4px solid white;
    color: white;
   
    margin-bottom: 60px;
}


.imagens2{
    background-image: url("../img/foto1.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    
    background-attachment:fixed;
   
  
    
}

.imagens3{
    background-image: url("../img/foto2.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-attachment:fixed;
    
}

.habilidades{
    width: 30%;
    height: 80px;
    background-color: #379bb9;
    text-align: center;
    padding: 8px;
    border-radius: 12px;
    margin-left: 35%;
    color: white;
    font-weight: bold;
    border: 4px solid white;
    margin-top: 10%;
    margin-bottom: 5%;
}

.habilidades h4{
    font-size: 130%;
    margin-top: 1%;
    border-radius: 12px;
    margin-bottom: 30px;
    font-size: 4vh;

}

.habilidade h5 {
    font-size:4vh;
    margin-top: 2%;
    margin-bottom: 3%;
    font-weight: bold;
    margin-left: 3%;
    

}

.habilidade p{
    margin-left: 2%;
    
    
}
.habilidade{
    width: 100%;
    display: inline-block;
    
}
.habilidades1,
.habilidades2,
.habilidades3,
.habilidades4,
.habilidades5{
    background-color: #379bb9;
    border: 4px solid white;
    color: white;
    margin-top: 2%;
    border-radius: 22px;
    width: 40%;
}
.habilidades1,
.habilidades3,
.habilidades5{
    flex-wrap:wrap;
    margin-left: 5%;
}
.habilidades2,
.habilidades4{
    margin-left: 126vh;
}
.habilidades5{
    margin-bottom: 5%;
}
.valores{
    width: 100%;
    margin-top: 8%;
    
}


.missao{
    margin-left: 120px;
}
.valores1{
    margin-left: 190px;
}

.valores1,.missao,.visao{
    background-color: #379bb9;
    width: 30%;
    border: 4px solid white;
    margin-top: 30px;
    border-radius: 12px;
    color: white;
    padding: 15px;
    font-size: 18px;
    
}
.valores1{
    width: 30%;
}
.valores1{
    padding: 5px;

    
}
.missao{
    width: 40%;
}
.valores1 p{
    margin-left: 50px;
}
.valores1 p ,.missao p ,.visao p{
    font-size: 20px;
}
.visao{
    margin-left: 130vh;
}
.valores1 h5 ,.missao h5 ,.visao h5{
    margin-left:38%;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.missao h5{
    margin-left: 40%;
}
.line{
    margin-top: 90px;
    background-color: azure;
    width: 100%;
    height: 10px;
}
.rodape{
    display: flex;
    background-color: #379bb9;
    width: 100%;
    justify-content: space-around;
    
}

.informations{
    margin-top: 30px;
    color: azure;
    
}

.mapa iframe{
    width: 100%;
    height: 140px;
    border-radius: 10px;
}







@media screen and  (min-width: 1064px) and (max-width:2057px)  {
    
    
    .imagens h1{
        text-shadow: 10px 4px 5px #000000;
        
        padding-left: 410px;
        padding-top: 290px;  
        font-family: Bree Serif, serif; 
        color: white ;
        font-weight: bold;
        font-size: 50px;
    
    }
    .imagens2{

        background-attachment: local;
        background-size: contain;
    }

    .imagens3{
      
        background-attachment: local;
        background-size: contain;
           
        
    }
    .logo img{
        width: 60%;
    }
    .proposta-titulo{
        width: 90%;
        height: 10%;
        margin-left: 35%;
        
        
    }
    .proposta-titulo h4{
        font-size: 3.0vh;
           
    }
    .proposta-texto{
        margin-left: -5%;
        width:160%;
        font-size: 2.9vh;
    }
    .navbar-brand img{
        width: 150px;
    }
    .navbar-toggler{
        width: 55px;
    }
    .navbar-toggler-icon{
        width: 30px;
    }
    .habilidades{
        width: 40%;
        height: 10%;
        margin-left: 29%;
    }
    .habilidades h4{
        font-size: 4vh;
        text-align: center;
        margin-top: 6%;
        padding-left: 0px;
        padding-bottom: 4px;
        
    }
    .habilidades1,
    .habilidades3,
    .habilidades5{
        width: 40%;
        margin-top: 10%;
        margin-left: 5%;
        padding: 20px;
        
    }
    .habilidades2,
    .habilidades4{
        width: 50%;
        margin-top: 10%;
        margin-left: 45%;
        padding: 20px;
    }


    .habilidades1 h5,
    .habilidades2 h5,
    .habilidades3 h5,
    .habilidades4 h5,
    .habilidades5 h5{
        margin-top: 20px;
        padding: 2px;
        font-size: 4vh;
    }
    .habilidades1 p,
    .habilidades2 p,
    .habilidades3 p,
    .habilidades4 p,
    .habilidades5 p{
        padding: 5px;
        font-size: 3vh;
    }
   
    .missao{
        margin-left: 6%;
        width: 40%;

    }

    .valores1{
        margin-left: 15%;
        width: 30%;
        
    }
    .missao{
        width: 40%;
        margin-left: 10%;
    }
    .valores1 p{
        margin-left: 10%;
        font-size: 21px;

    }
    .missao p{
        margin-left: 17px;
        font-size: 19px;
    }
    .valores1 h5{
        margin-left: 30%;
        font-size: 4vh;
    }
    .missao h5,.visao h5{
        margin-left: 30%;
        font-size: 4vh;
    }
    .visao{
        margin-left: 60%;
        width: 30%;
        
    }
    .visao p{
        font-size: 21px;
        margin-left: 15px;
    }
    .rodape{
        
        margin-top: 5px;
        font-size: 20px;
       
    }
    
    .informations{
        margin-left: 10px;
        font-size: 19px;
       
    }
    .line{
        margin-bottom: -5px;
    }
    .mapa{
        width: 30%;
        margin-left: 20px;
        height: 30%;
        margin-top: 2%;
        
    }
   
    .direitos h6{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
   
}
