body{
    font-family: "Bree Serif", serif;
    background-image: url("../img/capa1.png");
    background-repeat: repeat-y;
    background-size:contain;
}

.eventos1{
    
    width: 100%;
    height: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    color: white;
   

}
.descricao1{
    width: 400px;
    height: 200px;
    background-color:#379bb9;
    border-radius: 20px;
    padding: 20px;
    border: 4px solid white;
}
.foto1,
.foto2,
.foto3,
.foto4,
.foto5{
    border: 10px solid white;
    border-radius: 10px;
    width: 300px;
    background-color: #379bb9;
}
.foto1 video{
    height: 200px;
    width:100%;
}
    

.eventos2{
    width: 100%;
    height: 100%;
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    color: white;
   

}
.descricao2{
    width: 400px;
    height: 200px;
    background-color:#379bb9;
    border-radius: 20px;
    padding: 30px;
    border: 4px solid white;
    text-align: center;
}
.eventos3{
    width: 100%;
    height: 100%;
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    color: white;
   

}
.descricao3{
    width: 400px;
    height: 200px;
    background-color:#379bb9;
    border-radius: 20px;
    padding: 25px;
    border: 4px solid white;
    text-align: center;
}
.eventos4{
    width: 100%;
    height: 100%;
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    color: white;
   

}
.descricao4{
    width: 400px;
    height: 200px;
    background-color:#379bb9;
    border-radius: 20px;
    padding: 25px;
    border: 4px solid white;
    text-align: center;
}

.descricao3 p,.descricao4 p, .descricao5 p{
    font-size: 13px;
}
.eventos5{
    width: 100%;
    height: 100%;
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    color: white;
   

}
.descricao5{
    width: 400px;
    height: 200px;
    background-color:#379bb9;
    border-radius: 20px;
    padding: 25px;
    border: 4px solid white;
    text-align: center;
}
.line{
    margin-top: 90px;
    background-color: azure;
    width: 100%;
    height: 10px;
}
.rodape{
    display: flex;
    background-color: #379bb9;
    width: 100%;
    justify-content: space-around;
    
}

.informations{
    margin-top: 30px;
    color: azure;
    
}

.mapa iframe{
    width: 100%;
    height: 140px;
    border-radius: 10px;

}
.tour1{
    background-color: #379bb9;
    color: white;
    margin-left: 46%;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
.tour1:hover{
    background-color: rgb(249, 249, 128);
    
    
}

.tour1 a :hover{
    color: black;
}





@media (min-width: 661px) and (max-width:768px) {
    .eventos1,
    .eventos2,
    .eventos3,
    .eventos4,
    .eventos5{
        display: flex;
        justify-content: space-between;
        
        
    }
    .eventos1{
        margin-top: 20%;
    }
    
    
    .eventos2,
    .eventos3,
    .eventos4,
    .eventos5{
        margin-top: 10%;
    }
    .foto1,
    .foto2,
    .foto3,
    .foto4,
    .foto5{
       width: 350PX;
       height: 213px;
       margin-right: 10%;
      border: 7px solid white;
    
       
    }
    
    .descricao1,
    .descricao2,
    .descricao3,
    .descricao4,
    .descricao5{
        width: 400px;
        height: 335px;
        padding: 20px;
        font-size: 15px;
        margin-left: 8%;
        text-align: center;
        margin-right: 10%;
    }
    .descricao1,
    .descricao2{
        padding-top: 50px;
    }
    .descricao1 h5,
    .descricao2 h5,
    .descricao3 h5,
    .descricao4 h5,
    .descricao5 h5{
       
       font-size: 20px;
    }
    .descricao1 p,
    .descricao2 p,
    .descricao3 p,
    .descricao4 p,
    .descricao5 p{
       margin-top: 15px;
    }
    .descricao5 h5{
       margin-top: 0;
       padding: 0;
       font-size: 18px;
    }

    .navbar-brand img{
        width: 130px ;
    }
    .rodape{
   
        font-size: 13px;
    }
    
    .mapa{
        width: 200px; 
        margin-right: 20px;
       
    }
    #rod{
        padding-top: 5px;
    }
    .direitos h6{
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    } 
    .informations{
        margin-left: 30px;
    }
    
    
}
    
   

@media (min-width: 1900px) and (max-width:2056px)  {
    .descricao1,
    .descricao2,
    .descricao3,
    .descricao4,
    .descricao5{
        width: 500px;
        height: 400px;
        padding: 20px;
        font-size: 13px;
        margin-left: 8%;
        text-align: center;
        margin-right: 10%;
    }
    .descricao1,
    .descricao2{
        padding-top: 50px;
    }
    .descricao1 h5,
    .descricao2 h5,
    .descricao3 h5,
    .descricao4 h5,
    .descricao5 h5{
       margin-top: px;
       font-size: 30px;
    }
    .descricao1 p,
    .descricao2 p,
    .descricao3 p,
    .descricao4 p,
    .descricao5 p{
       margin-top: 30px;
       font-size: 22px;
    }
   

    .descricao5 h5{
       margin-top: 0;
       padding: 0;
       font-size: 30px;
    }
    .foto1,.foto2,.foto3,
    .foto4,.foto5{
        width: 400px;
        height: 400px;
    }
    .foto1 video,
    .foto3 video,
    .foto4 video{
        height: 380px;
    }

    .foto2 img,.foto5 img{
        height: 380px;
    }
}
